<div class="row g-3 my-2">
    <div class="col-md-3">
      <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">1</h3>
          <p class="fs-5">Pending</p>
        </div>
        <i class="fa-regular fa-clock fa-beat-fade fa-2x" style="color: #B197FC;"></i>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">2</h3>
          <p class="fs-5">In-progress</p>
        </div>
        <i class="fa-solid fa-spinner fa-2x" style="color: #74C0FC;"></i>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">5</h3>
          <p class="fs-5">Completed</p>
        </div>
        <i class="fa-solid fa-circle-check fa-3x" style="color: #63E6BE;"></i>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p-2 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">4</h3>
          <p class="fs-5">Total Users</p>
        </div>
        <i class="fa-solid fa-circle-user fa-3x" style="color: #082aed;"></i>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <h2 class="text-center mb-4">User Feedback</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let feedback of feedbackList">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ feedback.userId }}</h5>
            <p class="card-text">{{ feedback.feedbackText }}</p>
            <p class="card-text text-muted"><small>Posted on {{ feedback.date | date:'short' }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  

