<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4"><i class="bi bi-plus-square-fill"></i> Add New Task</h2>
                    <form (submit)="onSubmit()">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="task.title" required>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="startDate" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="task.startDate" required>
                             </div>
                            <div class="col-md-6 mb-3">
                                <label for="dueDate" class="form-label">Due Date</label>
                                <input type="date" class="form-control" id="dueDate" name="dueDate" [(ngModel)]="task.dueDate" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="priority" class="form-label">Priority</label>
                            <select class="form-select" id="priority" name="priority" [(ngModel)]="task.priority" required>
                                <option value="" disabled selected>Select Priority</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="assignTo" class="form-label">Assign To</label>
                            <select class="form-select" id="assignTo" name="assignTo" [(ngModel)]="task.assignTo" required>
                              <option value="" disabled selected>Select User</option>
                              <option *ngFor="let user of users" [value]="user">{{ user }}</option>
                            </select>
                          </div>
                          

                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus-circle me-2"></i> Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
